<footer class="footer">
  <span class="todo-count"
    ><strong>{{ pendientes }}</strong> Tareas pendientes</span
  >
  <ul class="filters">
    <li *ngFor="let filtro of filtros">
      <!--class="selected"-->
      <a
        href="#/"
        (click)="cambiarFiltro(filtro)"
        [class.selected]="filtro === filtroActual"
        >{{ filtro | titlecase }}</a
      >
    </li>
  </ul>
  <button class="clear-completed" (click)="limpiarCompletados()">
    Limpiar completados
  </button>
</footer>
